

<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-dark" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-dark"> <a style="color: white"> Kaddem </a>    </div>
    <div class="list-group list-group-flush " style="color: black">
      <a  style="color: white" class="bg-dark list-group-item list-group-item-action list-group-item-light p-3"  routerLink="adminuniv">Université</a>
      <a style="color: white"  class=" bg-dark list-group-item list-group-item-action list-group-item-light p-3" href="#!">Département </a>
      <a style="color: white"  class=" bg-dark list-group-item list-group-item-action list-group-item-light p-3" href="#!">exp</a>
      <a style="color: white"  class=" bg-dark list-group-item list-group-item-action list-group-item-light p-3" href="#!">exp</a>
      <a style="color: white"  class=" bg-dark list-group-item list-group-item-action list-group-item-light p-3" href="#!">exp</a>
      <a style="color: white"  class=" bg-dark list-group-item list-group-item-action list-group-item-light p-3" href="#!">exp</a>
    </div>
  </div>
  <!-- Page content wrapper-->
  <router-outlet></router-outlet>

</div>
