<app-home></app-home>
<!--/////////////////////////////////Ajout///////////////////////////////////////-->

<!--/////////////////////////////list//////////////////////////////////////-->
<table class="table table-hover">
  <thead>
  <tr>

    <th>Nom</th>
    <th>Adresse</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let u of tab;let i=index;'>
    <td> {{u.nomUniv}}</td>
    <td>{{u.adresse}}</td>


    <td>
      <button type="button" class="btn btn-outline-primary"
      ><img src="../../../assets/img/eye3.png" width="30" height="20"/>
      </button>
      &nbsp;
      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
              data-bs-target="#verticalycentered"
      ><img src="../../../assets/img/edit.png" width="30" height="20"/>
      </button> &nbsp;
      <button type="button" class="btn btn-outline-danger"
      ><img src="../../../assets/img/pobelle.png" width="30" height="20"/>
      </button>
    </td>
  </tr>
  </tbody>
</table>
