<div class="statistique">

  <div class="statistique-barre bar1"></div>
  <div class="statistique-barre bar2"></div>
  <div class="statistique-barre bar3"></div>
  <div class="statistique-barre bar4"></div>
  <div class="statistique-barre bar5"></div>
  <div class="statistique-barre bar6"></div>
  <div class="statistique-barre bar5"></div>
  <div class="statistique-barre bar6"></div>
  <div class="statistique-barre bar5"></div>
  <div class="statistique-barre bar6"></div>
  <div class="statistique-barre bar4"></div>
  <div class="statistique-barre bar5"></div>
  <div class="statistique-barre bar6"></div>
</div>

<div class="legende">
  <h4>Legende</h4>
  <table>
    <tr>
      <td><span class="evolution color-one"></span>Eleves</td>
    </tr>
    <tr>
      <td><span class="evolution color-two"></span>Departement</td>
    </tr>
  </table>
  <div class="txt-deco">
    <p>Vous pouvez voir ici le nombre de departement et le nombre
      les eleves dans une université
    </p>
  </div>
</div>
