<table class="table table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Archivee</th>
    <th>Date Debut</th>
    <th>Date Fin</th>
    <th>Montant</th>
    <th>Specialte</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor='let c of list;let i=index;'>
    <td>{{c.idContrat}}</td>
    <td>{{c.archive}}</td>
    <td>{{c.dateDebutContrat}}</td>
    <td>{{c.dateFinContrat}}</td>
    <td>{{c.montantContrat}}</td>
    <td>{{c.specialite}}</td>
    <td style="display: flex;justify-content: space-around">
      <button class="btn-primary" routerLink="details/{{c.idContrat}}">Détails</button>
      <button class="btn-danger" (click)="deleteContrat(c.idContrat)">Supprimer</button>
      <button class="btn-warning">Modifier</button>
    </td>
  </tr>
  <tr>
    <td>
      <button class="btn-secondary" routerLink="ajouter">Ajouter Contrat</button>
    </td>
  </tr>
  </tbody>
</table>
