<div class="container align-items-center">

  <h2>Ajouter<small>Universite</small></h2>

  <form>

    <div class="group">
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Nom Universite</label>
    </div>

    <div class="group">
      <input type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Adresse Universite</label>
    </div>

  </form>


  <button class="container "> Ajouter</button>

</div>
