<div class="container align-items-center" style="
    padding-left: 390px;
    margin-top: 100px;
">

  <h2>Ajouter<small>Universite</small></h2>

  <form>

    <div class="group">
      <input type="text" [(ngModel)]="nomUniv" name="nomUniv" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Nom Universite</label>
    </div>

    <div class="group">
      <input type="text" [(ngModel)]="adresseUniv" name="adresseUniv" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Adresse Universite</label>
    </div>

  </form>


  <button class="container" (click)="Ajouter()" style="
    width: 304px;
"> Ajouter</button>

</div>
