<div class="w3-row w3-padding-64" id="about">
  <div class="w3-col m6 w3-padding-large w3-hide-small">
   <img src="../../../assets/img/design-illustration-2.svg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="800" height="900">
  </div>

  <div class="w3-col m6 w3-padding-large">
    <h1 class="w3-center">Département {{Dept.nomDepart}} </h1><br>
    <div style="color: rgb(106, 23, 122);">
    <h4> Id : {{Dept.idDepart}}</h4>
    <h4>Nombre d'étudiants: {{nbEtudiants}}</h4>
  </div>
  </div>
</div>
