<div class=" card pond"  style="
    margin-left: 400px;
">
  <div class="card d-flex justify-content-center align-items-center " style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Ajouter un université ici ! </h5>
      <h6 class="card-subtitle mb-2 text-muted">Université</h6>
      <p class="card-text">Vous pouvez ajouter un université</p>
      <a class="card-link"  routerLink='../ajouteruniv'>Ajouter Universite</a>

    </div>
    <router-outlet></router-outlet>
  </div>

  <div class="card pond" style="width: 18rem; " >

    <div class="card-body">
      <h5 class="card-title">Afficher la liste des universités</h5>
      <h6 class="card-subtitle mb-2 text-muted">Liste des universités</h6>
      <p class="card-text">Vous pouvez voire la liste des universités ajouter récemment</p>
      <a href="#" class="card-link" routerLink="../afficheruniv">Affciher Universite</a>

    </div>
    <router-outlet></router-outlet>
  </div>

  <div class="card pond" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Statistique</h5>
      <h6 class="card-subtitle mb-2 text-muted">Vous pouvez voir les statistique ici !!</h6>
      <p class="card-text">statistique des eleves et des departements</p>
      <a href="#" class="card-link" routerLink="../statistique">Statistique</a>

    </div>
  </div>

</div>
